body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  align-items: center;
}

a {
  color: #00B7FF;
}

table, th, tr, td {
  padding: 4px;
  border-collapse: collapse;
  border: 2px solid black;
}

th {
  background-color: sandybrown;
}
